@page "/decks/{DeckId:int}"

<h1 class="page-title">Details for @uDeck.DeckName</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Deck List</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (uDeck != null){
            @foreach (var card in uDeck.Cards)
            {
                <tr>
                    @*<td>@card.CardName</td>*@
                    <li>@card</li>
                </tr>
            }
        }
        else
        {
            <p>Loading</p>
        }
    </tbody>
</table>
